.recording-page{

padding:20px;
padding-bottom:90px;
min-height:100vh;
background:#eef3fb;
font-family:Arial;
}


.recording-header{

text-align:center;

}


.recording-header h2{

color:#08152E;
font-size:30px;

}


.record-card{

margin-top:30px;
background:white;
padding:30px;
border-radius:25px;
text-align:center;
box-shadow:0 5px 20px rgba(0,0,0,.1);

}


.mic-circle{

width:120px;
height:120px;
border-radius:50%;
background:#ff3b30;
color:white;
font-size:50px;

display:flex;
justify-content:center;
align-items:center;

margin:auto;

}


.record-card h3{

margin-top:20px;
color:#08152E;

}


.timer{

font-size:25px;
margin:15px;

}


.start-btn,
.stop-btn{

width:100%;
padding:15px;
border:none;
border-radius:15px;
font-size:18px;
font-weight:bold;
color:white;

}


.start-btn{

background:#28a745;

}


.stop-btn{

background:#ff3b30;

}



.saved-card{

margin-top:25px;
background:white;
padding:20px;
border-radius:20px;

}


.audio-item{

display:flex;
justify-content:space-between;
align-items:center;

padding:15px;
margin-top:15px;

background:#f3f6fb;
border-radius:12px;

}


.audio-item button{

border:none;
background:none;
font-size:20px;

}



.bottom-nav{

position:fixed;
bottom:0;
left:0;

width:100%;
height:70px;

background:#08152E;

display:flex;
justify-content:space-around;
align-items:center;

font-size:24px;
color:white;

}


.bottom-nav .active{

color:#ff3b30;

}